<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.phonegap.plugins.Indoors"
  version="1.0.0">

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <name>Indoors</name>
    <description>
    </description>
  
	<asset src="www/indoors.js" target="indoors.js" />

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="plugins">
            <plugin name="Indoors" value="com.phonegap.plugins.Indoors" />
        </config-file>

        <source-file src="Android/src/com/phonegap/plugins/FastCanvas.java" target-dir="src/com/adobe/plugins/" />
        <source-file src="Android/indoors-library-surface.jar" target-dir="libs" />
        <source-file src="Android/libs/armeabi-v7a/libIndoorsLocator.so" target-dir="libs/armeabi/" />
    </platform>
</plugin>